.todo-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;

    h1 {
        text-align: center;
        color: $secondary-color;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }
    @media (max-width: 600px) {
        width: 350px;
    }
}