.filter-options {
    display: flex;
    padding: 10px;
    gap: 20px;
    padding-top: 0;
    .sort{
        min-width: 200px;  
    }
    h2 {
        margin-top: 8px;
        margin-right: 0.5rem;
        margin-bottom: 5px;

        @media (max-width: 600px) {
            margin-top: 0;
            margin-bottom: 5px;
        }
        @media (max-width: 730px) {
            width: min-content;
        }

       
    }

    select {
        margin-bottom: 12px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-right: 5px;

        @media (max-width: 600px) {
            font-size: 14px;
            width: 135px;
        }
        @media (max-width: 730px) {
            font-size: 14px;
            width: 123px;
        }

    }

    .sort-buttons {
        display: flex;
        flex-direction: column;

        button {
            margin-bottom: 10px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-size: 16px;


            &:hover {
                background-color: #0056b3;
            }

            @media (max-width: 600px) {
                font-size: 14px;
                width: 140px;
            }
            @media (max-width: 730px) {
                font-size: 14px;
                width: 140px;
            }
           
        }
        
    }
    
    
    @media (min-width: 600px) {
        flex-direction: row;
        align-items: center;



        .sort-buttons {
            flex-direction: row;

            button {
                margin-right: 8px;
            }
        }
    }

}