.todo-list {
    h1 {
        text-align: center;
        color: #004d40;
        margin-bottom: 30px;
        font-size: 2.5rem;

        @media (max-width: 768px) {
            font-size: 2rem;
            margin-bottom: 20px; 
        }
    }

    table {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

        @media (max-width: 600px) {
            padding: 10px;
            position: relative;
            right: 33px;
        }


        thead {
            background-color: #00796b;
            color: white;

            th {
                padding: 15px;
                font-weight: 600;
                border-bottom: 2px solid #004d40;
                text-align: left;

                &:hover {
                    background-color: #005b5b;
                }

                @media (max-width: 768px) {
                    padding: 10px;
                }
            }
        }

        tbody {
            tr {
                transition: background-color 0.3s;

                &:hover {
                    background-color: #e0f7fa;
                }

                td {
                    padding: 15px;
                    border-bottom: 1px solid #ccc;
                    color: #333;

                    &:first-child {
                        font-weight: bold;
                    }

                    @media (max-width: 768px) {

                        padding: 10px;
                    }
                }
            }
        }
    }

    .edit-icon,
    .delete-icon {
        cursor: pointer;
        margin: 0 5px;
        font-size: 1.5rem;
        transition: color 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    .delete-icon:hover {
        color: #f44336;
    }

    .edit-icon:hover {
        color: #4CAF50;
    }
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(135deg, #e0f7fa 0%, #80deea 100%);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    position: relative;

    @media (max-width: 768px) {
        padding: 15px; 
    }
}

.form-input,
.form-select {
    padding: 15px;
    border: 2px solid #80deea;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%; 

    @media (max-width: 768px) {
        font-size: 14px; 
        padding: 12px; 
    }
}

.form-input:focus,
.form-select:focus {
    border-color: #0097a7;
    box-shadow: 0 0 5px rgba(0, 151, 167, 0.5);
    outline: none;
}

.form-button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #00796b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; 

    &:hover {
        background-color: #004d40;
        transform: translateY(-2px);
    }

    @media (max-width: 768px) {
        font-size: 14px; 
        padding: 12px;
    }
}

.task-form:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.task-form:hover:before {
    opacity: 1;
}
.sort-arrow{
    font-size: 0.8rem;
    margin-left: 2px;
}