* {
    box-sizing: border-box;
}

.form-container {
    padding: 40px;

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.task-input,
.assignee-input,
.priority-select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.task-input:focus,
.assignee-input:focus,
.priority-select:focus {
    outline: none;
    border-color: #00796b;
}

.submit-button {
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        width: 100%;
    }

    &:hover {
        background-color: darken(#00796b, 10%);
    }
}

button {
    padding: 10px;
    background-color: #00796b;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px;
    }

    &:hover {
        background-color: darken(#00796b, 10%);
    }
}
